<a href="https://colab.research.google.com/github/Adriana-FLW/meuprimeiropacote/blob/master/MBA_ICP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**AULA 1 - TIPOS DE VARIÁVEIS**

In [ ]:
print('Hello World')

Hello World

*VARIAVEIS*

In [ ]:
x = 2.6
y = 3.4
z = x + y
print(z)

6.0

*NUMEROS*

In [ ]:
print(3*x)
print(x**3)
print(x/2)
print(x//2) # Divisao inteira
print(x%2)

7.800000000000001
17.576
1.3
1.0
0.6000000000000001

In [ ]:
x = x + 2.5
print(x)

5.1

*ENTRADA DE DADOS*

In [ ]:
inp = input()
print('Saida',inp)

Adriana
Saida Adriana

In [ ]:
A = 'Dri'
B = 'Vai'
AB = A + B
print(A + ' ' + B)

Dri Vai

In [ ]:
A = input()
B = input()
print(A,B)

eu
oi
eu oi

*TIPOS DE VARIÁVEIS*

In [ ]:
# String
a = '123'
b = '456'
c = '789'
print(a+b+c)

123456789

In [ ]:
# Inteiro
a = 123
b = 456
c = 789
print(a+b+c)

1368

In [ ]:
a = int(input('a:') )
b = int(input('b:') )
print(a+b)

a:10
b:23
33

In [ ]:
a = input('a:')
b = input('b:')
print(a+b)

a:10
b:23
1023

In [ ]:
# Float (Ponto flutuante, como sao representados na memoria do computador)
a = float(input('a:') )
b = float(input('b:') )
print(a+b)

a:2.3
b:3.7
6.0

In [ ]:
# Print de várias variáveis
nome = 'Adriana'
idade = 41
altura = 1.72
print('Olá! %s tem %d anos e %.2f metros de altura.' %(nome,idade,altura))

Olá! Adriana tem 41 anos e 1.72 metros de altura.

**EXERCÍCIOS**

In [ ]:
# EX 1
nome = input('Nome: ')
idade = int(input('Idade: '))
altura = float(input('Altura: '))
print('Olá! %s tem %d anos e %.2f metros de altura.' %(nome,idade,altura))

Nome: Adriana
Idade: 41
Altura: 1.72
Olá! Adriana tem 41 anos e 1.72 metros de altura.

In [ ]:
# EX 2
peso = int(input('Peso em Kg:'))
altura = float(input('Altura:'))
imc = peso/altura**2
print('IMC:', imc)
print('IMC: %.2f' % imc)

Peso em Kg:60
Altura:1.72
IMC: 20.281233098972418
IMC: 20.28

In [ ]:
# EX 3
a = float(input('Aceleracao: '))
t = float(input('Tempo: '))
v0 = float(input('Velocidade Inicial: '))
s0 = 0

s =  s0 + v0*t + (a*(t**2))/2
print('Deslocamento: ', s)

Aceleracao: 10
Tempo: 5
Velocidade Inicial: 0
Deslocamento:  125.0

In [ ]:
# EX 4
b = float(input('Base menor: '))
B = float(input('Base maior: '))
h = float(input('Altura: '))
A = (B + b)/2
print('Area %.2f' % A)

Base menor: 5
Base maior: 10
Altura: 4
Area 7.50

In [ ]:
# EX 5
x = float(input('x: '))
y = float(input('y: '))
xx = x
yy = y
x = y
y = xx
print('x: ', xx, '(antes)', x, '(depois)')
print('y: ', yy, '(antes)', y, '(depois)')

x: 5
y: 10
x:  5.0 (antes) 10.0 (depois)
y:  10.0 (antes) 5.0 (depois)

*VARIAVEIS BOOLEANAS*

In [ ]:
n1 = float(input('N1: '))
n2 = float(input('N2: '))

print(n1 > n2)
print(n1 < n2)
print(n1 == n2)
print(n1 >= n2)
print(n1 <= n2)

N1: 5
N2: 8
False
True
False
False
True

In [ ]:
aux = n1 == n2
print(aux)

False

*EXPRESSÕES COMPOSTAS*

In [ ]:
a = True
b = False
print(not a)
print(not b)
print(a and b)
print(a or b)
print(a and not b)

False
True
False
True
True

**AULA 2 - IF-ELSE**

In [ ]:
v1 = int(input())
v2 = int(input())
v3 = int(input())

10
5
20

In [ ]:
if v1 > v2:
  print(v1)
else:
  print(v2)

10

In [ ]:
if v1 > v2 and v1 > v3:
  print(v1)
elif v2 > v3:
  print(v2)
else:
  print(v3)

20

**EXERCÍCIOS**

In [ ]:
# EX 1
senha = 'abc1234'
sen = input('Digite a senha: ')
if sen == senha:
  print('ACESSO PERMITIDO')
else:
  print('ACESSO NEGADO')

Digite a senha: 123
ACESSO NEGADO

In [ ]:
# EX 2
timeA = input('Digite o nome do time A: ')
golsA = input('Digite a quantidade de gols do time A: ')
timeB = input('Digite o nome do time B: ')
golsB = input('Digite a quantidade de gols do time B: ')

if golsA == golsB:
  print('Empate!')
elif golsA > golsB:
  print('O time %s ganhou. Ele fez %s gols!' % (timeA,golsA))
else:
  print('O time %s ganhou. Ele fez %s gols!' % (timeB,golsB))

Digite o nome do time A: AA
Digite a quantidade de gols do time A: 3
Digite o nome do time B: BB
Digite a quantidade de gols do time B: 4
O time BB ganhou. Ele fez 4 gols!

In [ ]:
# EX 3
a = float(input('a: '))
b = float(input('b: '))
c = float(input('c: '))

delta = b**2 - 4*a*c
x1 = (-(b) + delta**(1/2))/(2*a)
x2 = (-(b) - delta**(1/2))/(2*a)

if delta < 0:
  print('A equação não possui raiz real!')
elif x1 == x2:
  print('A equação possui apenas uma raiz: %.2f e %.2f' % (x1,x2))
else:
  print('As raizes da equação são: %.2f e %.2f' % (x1,x2))

a: 1
b: -2
c: 4
A equação não possui raiz real!

In [ ]:
# EX 4
d_hoje = 5
m_hoje = 7
a_hoje = 2022
dia = int(input('Digite o dia de nascimento: ')) 
mes = int(input('Digite o mes de nascimento: ')) 
ano = int(input('Digite o ano de nascimento: ')) 

if ano == a_hoje:
  idade = 0
else:
  idade = a_hoje - ano
  if m_hoje < mes or (m_hoje == mes and d_hoje < dia): 
    idade = idade - 1 
print ('A idade é:', idade)

Digite o dia de nascimento: 6
Digite o mes de nascimento: 7
Digite o ano de nascimento: 2015
A idade é: 6

In [ ]:
# EX 5
qtd_macas = int(input('Digite a quantidade de maças: '))
qtd_bananas = int(input('Digite a quantidade de bananas: '))

if qtd_macas < 12:
  vlr_macas = qtd_macas * 1.50
else:
  vlr_macas = qtd_macas * 1.20

total = vlr_macas + qtd_bananas * 0.8
if total > 10:
  total_pg = total * 0.9
else:
  total_pg = total

print('O valor a ser pago será: %.2f' % total_pg)

Digite a quantidade de maças: 11
Digite a quantidade de bananas: 5
O valor a ser pago será: 18.45

In [ ]:
# EX 6
a1 = float(input('a1: '))
a2 = float(input('a2: '))
a3 = float(input('a3: '))

if not a1 + a2 + a3 == 180:
  print('Não é um triângulo!')
elif (a1 < 90) and (a2 < 90) and (a3 < 90):
  print('É um triângulo acutângulo!')
elif (a1 == 90) or (a2 == 90) or (a3 == 90):
  print('É um triângulo retângulo!')
else:
  print('É um triangulo obtusângulo')

a1: 200
a2: 100
a3: 10
Não é triângulo!

**AULA 3 - ESTRUTURAS DE REPETIÇÃO**

In [ ]:
N = int(input('N: '))
for i in range(N):
  print(i)

N: 5
0
1
2
3
4

In [ ]:
a = int(input('a: '))
b = int(input('b: '))
for i in range(a,b,1):
  print(i)

for i in range(a,b,2):
  print(i)

a: 2
b: 10
2
3
4
5
6
7
8
9
2
4
6
8

In [ ]:
soma = 0
for i in range(100,201,2):
  soma = soma + i
print(soma)

7650

In [ ]:
soma = 0
for i in range(1,100,2):
  soma = soma + i
print(soma)

2500

In [ ]:
soma = 0

for i in range(100):
  if not i%2 == 0:
    soma = soma + i
print(soma)

2500

In [ ]:
N = int(input('Digite o valor de N:'))

s = 0
for i in range(N):
    valor = float(input('Digite um valor:'))
    s = s + valor
media = s / N
print('Média aritmética:', media)

Digite o valor de N:3
Digite um valor:2
Digite um valor:10
Digite um valor:5
Média aritmética: 5.666666666666667

In [ ]:
num = int(input('Digite o número:'))

eh_primo = True
for i in range(2, num):
    if num % i == 0:
        eh_primo = False
if not eh_primo:
    print('Não é primo')
else:
    print('É primo')

Digite o número:5
É primo

In [ ]:
# Exercício FOR-05
# 1 1 2 3 5 8 ...

N = int(input('Digite o número de termos:'))

a = 1
b = 1
print('1')
print('1')

for i in range(2, N):
    c = a + b
    print(c)
    a = b
    b = c

Digite o número de termos:10
1
1
2
3
5
8
13
21
34
55

**AULA 4 - WHILE**

In [ ]:
# Exemplo: ler números inteiros do teclado até que o usuário digite 0
num = int(input('Digite um inteiro:'))
while num!=0:
  print(num)
  num = int(input('Digite um inteiro:'))

Digite um inteiro:3
3
Digite um inteiro:2
2
Digite um inteiro:0

In [ ]:
# EX 1
num = int(input('Digite um inteiro:'))
soma = 0
n = 0
while num > 0:
  soma = soma + num
  n = n + 1
  num = int(input('Digite um inteiro:'))

print('A média é:', soma/n)

Digite um inteiro:6
Digite um inteiro:4
Digite um inteiro:0
A média é: 5.0

In [ ]:
# EX 2
num = float(input('Digite um inteiro:'))
soma_neg = 0
soma_pos = 0
while num!=0:
  if num < 0:
    soma_neg = soma_neg + num
  else:
    soma_pos = soma_pos + num
  num = float(input('Digite um inteiro:'))

print('Soma dos números negativos: ', soma_neg)
print('Soma dos números positivos: ', soma_pos)

Digite um inteiro:2.2
Digite um inteiro:-1
Digite um inteiro:3
Digite um inteiro:-4
Digite um inteiro:0
Soma dos números negativos:  -5.0
Soma dos números positivos:  5.2

In [ ]:
# EX 3
senha = '1234'
sen = input('Digite a senha: ')
n = 1
while n < 5:
  if sen == senha:
    print('SENHA CORRETA')
    n = 6
  else:
    print('SENHA INCORRETA')
    sen = input('Digite a senha: ')
    n = n + 1

if n == 5:
  print('SENHA BLOQUEADA')

Digite a senha: 22
SENHA INCORRETA
Digite a senha: 1234
SENHA CORRETA

In [ ]:
MAX_TENTATIVAS = 5

digitado = input('Digite a senha: ')
count = 1
while digitado != '1234' and count < MAX_TENTATIVAS:
    print('SENHA INCORRETA')
    count = count + 1
    digitado = input('Digite a senha: ')
if count < MAX_TENTATIVAS:
    print('SENHA CORRETA')
else:
    print('SENHA BLOQUEADA')

Digite a senha: 23
SENHA INCORRETA
Digite a senha: 23
SENHA INCORRETA
Digite a senha: 1234
SENHA CORRETA

In [ ]:
num = 100
soma = 0
while num <= 200:
  soma = soma + num
  num = num + 2

print(soma)

7650

*COMANDO BREAK*

Quando usado em laço de repetição, o comando break causa uma interrupção imediata de um loop.

In [ ]:
# Imprimir os números inteiros positivos de 0 a 10 (não incluso)
cont = 0
while True:
  print(cont)
  cont += 1
  if cont == 10:
    break

0
1
2
3
4
5
6
7
8
9

*COMANDO CONTINUE*

Quando o comando continue é executado, o laço volta para o teste de condição do laço de repetição.

In [ ]:
# Imprimir de 0 a 10, exceto os números 5 e 7
for i in range(10):
  if i==5 or i==7:
    continue
  print(i)

0
1
2
3
4
6
8
9

**AULA 4 - FUNÇÕES**

In [ ]:
import math
math.sin(45)

0.8509035245341184

In [ ]:
from math import sin
sin(45)

0.8509035245341184

In [ ]:
from math import *
sin(pi/2)

1.0

In [ ]:
math.pow(2,4)

16.0

In [ ]:
def printparts(p1,p2):
  print(p1 + ' ' + p2)

printparts('Hello','World')

Hello World

In [ ]:
def cattwice(p1,p2):
  cat = p1 + p2

n1 = 1000
n2 = 2000
cattwice(n1,n2)
print(cat) # não vai funcionar pq a variável cat só existe dentro da funcao

NameError: ignored

In [ ]:
from math import *

def imprimeLogaritmo(x):
  if x <= 0:
    print('Somente números positivos')
    return # Termina a execucao antes que ela alcance o fim
  resultado = log(x)
  print('O log de x é:', resultado)

imprimeLogaritmo(0.45)

O log de x é: -0.7985076962177716

In [ ]:
def absolute_value(x):
  if x < 0:
    return -x
  return x # Posso usar mais de um return, mas apenas um será executado

print(absolute_value(-9))

9

**AULA 5 - ITERACOES**

In [2]:
def contagemRegressiva(n):
  while n >=0:
    print(n)
    n = n - 1 # Cuidado com os loops infinitos
  print('Fogo!')

contagemRegressiva(4)

4
3
2
1
0
Fogo!

In [3]:
for item in [20,21,22]:
  dobro = item * 2
  print(item, '*2 =', dobro)

20 *2 = 40
21 *2 = 42
22 *2 = 44

In [4]:
for item in range(20,23):
  dobro = item * 2
  print(item, '*2 =', dobro)

20 *2 = 40
21 *2 = 42
22 *2 = 44

In [5]:
for item in range(20,20 + 6):
  dobro = item * 2
  print(item, '*2 =', dobro)

20 *2 = 40
21 *2 = 42
22 *2 = 44
23 *2 = 46
24 *2 = 48
25 *2 = 50

In [6]:
for item in 'São Carlos':
  print(item)

S
ã
o

C
a
r
l
o
s

In [7]:
while True:
  line = input('>')
  if line == 'done':
    break
  print(line)
print('Done!')

>lk
lk
>lk
lk
>done
Done!